

input {
  width: 362px;
  padding: 10px;
  border-radius: 8px;
  background: #353535;
  border: 2px solid transparent; /* Adicionando uma borda padrão */
  font-size: 14px;
  font-weight: 400;
  color: #dfdfdf;
  transition: border-color 0.3s; /* Transição suave para as mudanças de borda */
}

input:focus {
  outline: none;
  box-shadow: none;
}